*{
    margin: 0;
    padding: 0;
}
/*h1{
    margin: 3px;
}*/
h2{
    margin: 3px;
}
h3{
    margin: 2px;
}

body{
    width: 100vw;
    height: 100vh;
    color:  hsl(273, 100%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background: transparent;
    border: none;
    background-color: white;
    color: hsl(273, 100%, 50%);
    border: solid 1px hwb(273 0% 49%);
    margin: 3px;
    padding: 3px;
    width: 45%;
}

button:hover{
    border-color: black;
    color: rgb(0, 0, 0);
    transform: scale(1.05);
}
input{
    padding: 3px;
    margin: 2px 3px 15px 3px;
    color: hsl(273, 100%, 50%);
    border: hwb(273 0% 49%) solid 1.5px;
}
.divsIniciales{
    padding: 60px;
    background-color: black;
    border: 1px hsl(273, 100%, 50%) solid;
}

.divBotones{
    display: flex;
}
.divBotones>button{
    height: 45px;
    width: 160px;
}
#bienvenida{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#divInicioSes{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

#divRegistro{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.elementoTransparente{
   display: none;
    transition: filter 0.5s;
}
.elementoVisible{
    display: flex;
    transition: filter 0.5s;
}




/*Efecto de partículas*/
#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    background-position: 50% 50%;
    z-index: 1;
}


/*Falta hacer que los divs aparezcan suave en la pantalla.*/ 